@import url('https://fonts.googleapis.com/css2?family=Lacquer&display=swap');


h1,
h2,
h3 {
    color: #D00000;
    font-family: 'Lacquer', cursive, Verdana, sans-serif;
    font-size: 48px;
}

h4 {
    color: #D00000;
    font-family: 'Lacquer', cursive, Verdana, sans-serif;
    font-size: 36px;
}

a {
    font-family: cursive, Verdana, sans-serif;
    color: #2A628F;
}

a:visited {
    color: #2A628F;
}

a:hover {
    color: #D00000;
    border-radius: 10px;
    transition: .6s;
    padding: 10px;
}



#icon {
    width: 120px;
    height: 120px;

}

#icon:hover {
    /*"Animação" do icon*/
    padding-top: 10px;
    padding-left: 5px;
    transition: .6s;
    /*gambiarra pro botão da logo não bugar e aparecer as cores dos links, eu poderia corrigir criando uma id para os outros links*/
    background-color: #000000;
}


img.imagem {
    /*CSS pra estilizar as imagens da galeria de jogos*/
    width: 300px;
    height: 300px;
    margin-bottom: 10px;
    border-radius: 50px;
    border: 3px solid #000000;

}

:hover.imagem {
    /*CSS pra estilizar as imagens da galeria de jogos quando passa o mouse por cima*/

    border: 3px solid #D00000;
    transition: .7s;
}

div.box {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

/*Comentario*/
p {
    color: #DDF0FF;
    font-family: cursive, Verdana, sans-serif;
    font-size: 18px;
}

p.maiusculo {
    text-transform: uppercase;
}

header {
    color: #DDF0FF;
    position: fixed;
    top: 5px;
    left: 0px;
}

nav.menu {
    float: right;

}

ul.nav {
    float: right;

    margin: 0px;
    padding: 0px;


    /*Para zerar as margens e paddings que por padrão não são as mesmas para diferentes navegadores, usamos as regras margin:0; e padding:0;*/
}

ul.nav li {
    list-style: none;
    display: inline;
}

ul.nav li a {
    float: left;
    /* para tornar a lista horizontal usamos a regra display inline e float left*/
    width: 100px;
    /*Largura fixa pra cada link*/
    font: 18px cursive, Verdana, Arial, Helvetica, sans-serif;
    /*Tamanho e uma familia de fontes*/
    background: #000000;
    /*cor de fundo*/
    color: #2A628F;
    /*cor de fonte*/
    text-align: center;
    padding: 0px;
    border-radius: 4px;
    text-decoration: none;
    /*Retirar o sublinhado*/
}

ul.nav li a:hover {
    color: red;
    transition: .6s;
}



section,
footer,
article {
    text-align: center;
    margin-left: 250px;
    margin-right: 250px;
}


a {
    text-decoration: none;
}

body {
    background-color: #000000;
    margin: 0;
    padding: 0;
    height: 100vh;
}

/*Carrossel de imagens abaixo*/
.content {

    height: 500px;
    width: 500px;
    border-radius: 20px;
    overflow: hidden;
    border: 3px solid #000000;

    /*escondeu todos os conteudos que ultrapassavam a div*/

    margin-left: auto;
    margin-right: auto;
    /*centralizar a div*/
}

.navigation {
    width: 100%;
    justify-content: center;
    display: flex;
}

.bar {
    width: 70px;
    height: 17px;
    border: 2px solid #DDF0FF;
    margin: 4px;
    border-radius: 10px;
    cursor: pointer;
    transition: .4s;
    /*O tempo em que o hover vai ser aplicado*/
}

.bar:hover {
    background-color: #DDF0FF;
}

#slide1,
#slide2,
#slide3,
#slide4 {
    display: none;
}

.slides {
    display: flex;
    width: 400%;
    height: 100%;

}

.slide {
    width: 25%;
    transition: .6s;
}

.content:hover {
    border: 3px solid #D00000;
    transition: .7s;
}

.slide img {
    width: 100%;
    height: 100%;


    /*a imagem deixara de cortar e aparecera inteira*/
}

#slide1:checked~.s1 {
    /*O ~ vai servir pra quando o slide 1 tiver "checked" */
    margin-left: 0;
}

#slide2:checked~.s1 {
    margin-left: -25%;
}

#slide3:checked~.s1 {
    margin-left: -50%;
}

#slide4:checked~.s1 {
    margin-left: -75%;
}

/*Carrossel de imagens-arte  abaixo*/

.content-arte {
    height: 500px;
    width: 500px;
    border-radius: 20px;
    overflow: hidden;
    border: 3px solid #000000;

    /*escondeu todos os conteudos que ultrapassavam a div*/

    margin-left: auto;
    margin-right: auto;
    /* centralizar a div*/
}

.slides-arte {
    display: flex;
    width: 500%;
    height: 100%;
}

#arte1,
#arte2,
#arte3,
#arte4,
#arte5 {
    display: none;
}

.navigation-arte {
    justify-content: center;
    width: 100%;
    display: flex;
}

.bar-arte {
    width: 70px;
    height: 17px;
    border: 2px solid #DDF0FF;
    margin: 4px;
    border-radius: 10px;
    cursor: pointer;
    transition: .4s;
    /*O tempo em que o hover vai ser aplicado*/
}

.bar-arte:hover {
    background-color: #DDF0FF;
}

.slides-arte {
    display: flex;
    width: 500%;
    height: 100%;
}

.slide-arte {
    width: 20%;
    transition: .6s;
}

.slide-arte img {
    width: 100%;
    height: 100%;
}

.content-arte:hover {
    border: 3px solid #D00000;
    transition: .7s;
}

#arte1:checked~.s1arte {
    margin-left: 0;
}

#arte2:checked~.s1arte {
    margin-left: -25%;
}

#arte3:checked~.s1arte {
    margin-left: -45%;
}

#arte4:checked~.s1arte {
    margin-left: -65%;
}

#arte5:checked~.s1arte {
    margin-left: -85%;
}

/*DIV DE CONTATO*/

label {
    color: #DDF0FF;
    padding-bottom: 5px;
    display: inline-block;
    font-family: cursive, Verdana, sans-serif;
}

button {
    border: #000000;
    background-color: #000000;
    color: #2A628F;
    padding: 10px;
    font-weight: bold;
    font-size: 18px;
}

#botao {
    color: #DDF0FF;
    padding: 10px;
    border-radius: 10px;
    cursor: pointer;

}

#botao:hover {
    background-color: #DDF0FF;

    color: #000000;
    border-radius: 10px;
    transition: .6s;
    padding: 10px;

}

.contato {
    margin-left: 25%;
    margin-right: 25%;
}

.card {
    background-color: #000000;


    /*Sombreamento no formulario*/
}

#inputNome,
#inputEmail,
#textAreaMensagem {
    width: 100%;
    margin-bottom: 1em;
    font: 1em;
    font-family: 1em sans-serif;
    border: 1px solid #D00000;
    border-radius: 10px;
    background-color: #000000;
    color: #DDF0FF;
}